//-----------------------------------------------------------------------------
// - Color
$brand-blue: #2d469d;
$brand-pink: #ec008c;
$soft-blue: #D2F1FE;

$grey-05: #f2f2f2;
$grey-50: #808080;

//-----------------------------------------------------------------------------
// - Type
$serif: "Raleway", "Baskerville", "Times New Roman", Times, serif;
$sans-serif: "Proxima Nova Alt", sans-serif;

//-----------------------------------------------------------------------------
// - Grids
$max-width: em(1000);

$mediumish-screens: min-width 500px;
$bigish-screens: min-width 760px;
