@import "settings";
@import "foundation";

$button-background-color: #ec008c;

h1, h2, h3 {
  color: $primary-color;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}

h4 {
  font-size: 0.8em;
}

p {
  font-size: 1em;
}

small {
  font-size: 80%;
}

.header {
  margin: 1em 0;
}

#header {
  background-color: $primary-color;
  text-transform: capitalize;
  text-align: center;
  height: 150px;
  position: relative;
  
  h1, h2, h3 {
    margin: none;
    line-height: 0.8em;
    font-weight: 700;
    color: #c8e3f5;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
  .marquee {
    position: absolute;
    bottom: 1.5em;
  }
  .star {
    position: relative;
    bottom: -125px;
    width: 50px;
    text-align: center;
    
  }
}

#cityscape {
  background-image: url("../img/city.jpg");
  background-size: 1000px;
  background-repeat: no-repeat;
  
  min-height: 367px;
  text-align: center;
  
  h2, h3 {
    color: $primary-color;
  }
  
  .button {
    background-color: $button-background-color;
    text-transform: capitalize;
  }
  
  .registration {
    margin-top: 2em;
  }
}

#topics {
  .columns {
    position: relative;
    margin-top: 30px;
  }
  
  .dot {
    width: 100px;
    position: absolute;
    top: -110px;
    left: 101px;
  }
}

#schedule {
  h3 {
    font-weight: 400;
  }
  
  p {
    margin-bottom: 0;
    color: #808080;
  }
  
  .text-strong {
    font-weight: 700;
  }
}

#sponsorship, #friendlycode, #projects {
  p {
    color: #808080;
  }
}

footer {
  height: 150px;
  .social-media {
    div {
      display: inline-block;
      margin: 0 .2em;
    }

    #fb {
      height: 30px;
      width: 30px;
      background-image: url("../img/facebook_2x.png");
      background-size: 30px 60px;
    }
    #fb:hover {
      background-position: 0 -60px;
    }
    
    #twitter {
      height: 30px;
      width: 30px;
      background-image: url("../img/twitter_2x.png");
      background-size: 30px 60px;
    }
    #twitter:hover {
      background-position: 0 -60px;
    }
  }
}

.grey {
  background-color: $secondary-color;
}

.divider {
  margin: 1em 0;
  height: 5px;
  background-image: url("../img/dots.png");
  background-repeat: no-repeat;
  background-position: center;
}

